// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$games-page-left-offset: 6%;

#games-list-wrapper {
  max-width: 1200px;
  width: 84%;
  margin-left: 8%;
}

#games-view-title {
  margin-left: $games-page-left-offset;
  line-height: 22px;
}

#games-list {
  font-size: 1.1rem;
  margin-left: $games-page-left-offset;
  padding: 0.2em;
  border-collapse: collapse;
  thead tr {
    background-color: burlywood;
    padding: 4px;
    border-radius: 3px;
  }
  td, th {
    text-align: left;
    padding-top: 0.4em;
    padding-left: 0.3em;
    padding-right: 1.1em;
  }
  .game-name {
    cursor: pointer;
  }
}

#game-detail {
  font-size:1.1rem;
  position: absolute;
  height: auto;
  max-height: 700px;
  max-width: 500px;
  padding: 0.8em 1em;
  border-radius: 6px;
  border: 1px solid darken(wheat, 10%);
  background-color: wheat;
  table {
    padding: 3px 5px;
    td {
      max-width: 320px;
      padding-right: 1em;
      &:first-child {
        vertical-align: top;
      }
    }
  }
  .game-detail- {
    &name {
      display: inline-block;
      margin-top: 6px;
      margin-bottom: 7px;
      margin-left: 5px;
      text-align: center;
    }
    &image {
      float: right;
      width: 180px;
      height: 204px;
      margin-top: 29px;
      background-repeat: no-repeat;
      background-size: unset;
      background-position: 0px 0px;
    }
    &close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 24px;
      height: 24px;
      background-image: asset_data_url("icon_close_black.svg");
      background-repeat: no-repeat;
      background-size: 16px 16px;
      cursor: pointer;
    }
    &liker {
      cursor: pointer;
      background: asset_data_url("thumbs_up.png") no-repeat 30% center;
      //&:hover {
      //  text-decoration: none;
      //}
    }
  }
}
